# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/



# Version: 22.04
# Project: https://github.com/moonjellydigital/js-gitignore
# License: MIT
# Copyright (c) 2022 Camille Spain

# Mac Desktop Services Store
.DS_Store

# Windows Thumbnails
Thumbs.db

# Runtime Data
pids
*.pid
*.seed
*.pid.lock

# Logs
logs
*.log

# IDEs and Editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.swp
.vscode/

# .env Files
.env
.env.*

# Archive Files
*.tgz
*.gz
*.zip

## Dependency Directories ##

# Node
node_modules/

# JSPM
jspm_packages/

## Node ##

# REPL History
.node_repl_history

# Compiled Binary Add-ons
build/Release

## TypeScript ##

# TypeScript Incremental Builds Cache
*.tsbuildinfo

## PACKAGE MANAGERS ##

## npm ##

# npm Cache Directory
.npm

# npm Logs
npm-debug.log*

## Yarn and Yarn v2 ##

# Yarn Logs
yarn-debug.log*
yarn-error.log*

# Yarn Integrity File
.yarn-integrity

# Yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

## eslint ##

# eslint Cache
.eslintcache

## FRAMEWORKS AND CMS ##

## Next.js ##

# Next.js Build
.next
out

## Nuxt.js ##

# Nuxt.js Build
.nuxt
dist

## Docusaurus ##

# Docusaurus Build and Cache
.docusaurus

## Gatsby ##

# Gatsby Build Cache
.cache/

# Gatsby Build Output
# Uncomment 'public' directory if not using Next.js
# public

## VuePress ##

# VuePress Build
.vuepress/dist

# VuePress v2 Temp and Cache Directories
.temp
.cache

## Serverless Framework ##

# Serverless Build
.serverless/

## DATA STORES ##

## DynamoDB ##

# DynamoDB Local
.dynamodb/

## BUNDLERS ##

## Snowpack ##

# Snowpack Dependency Directory
web_modules/

## Microbundle ##

# Microbundle Cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

## Parcel ##

# Parcel Cache
.cache
.parcel-cache

## FuseBox ##

# FuseBox Cache
.fusebox/

## TASK RUNNERS ##

## Grunt ##

# Grunt Intermediate Storage
.grunt

## TESTING ##

## Istanbul ##

# Istanbul Coverage
coverage
*.lcov

# Istanbul nyc CLI
.nyc_output

## VS Code ##

# VS Code Versions for Extension Testing
.vscode-test

## CSS TOOLS ##

## Sass ##

# Sass Cache
.sass-cache
